.main{
  height: 500px;
}
.submain1{
  height: 276px;
}
.submain2{
height: 220px;
}
.submain3{
height: 220px;
}

@media screen and (max-width: 375px) {
  .main{
    height: 350px;
  }
  .submain2{
    height: 200px;
    }
    .submain3{
    height: 200px;
    }
}